h1 {
  margin-top: 0;
  margin-left: 0;
  color: black;
}

.navbar-toggle {
  background-color: black;
}

.navbar-brand {
  margin-bottom: 20px;
}

.navbar-brand a:hover, .navbar-brand h1:focus {
  text-decoration: none;
}

#main-content {
  padding: 0;
  margin: 0;
}

#header-nav {
  background-color: gray;
  border-radius: 0;
  border: 1px solid black;
  margin-left: 0;
}

#collapsable-nav {
  margin-top: 75px;
}

#collapsable-nav span {
  font-size: 1.5em;
  text-align: center;
  border: 1px solid black;
  border-left: 0;
  border-right: 0;
}

#collapsable-nav a {
  color: black;
}

#main-content {
  margin: 50px;
}

#section1, #section2, #section3 {
  border: 1px solid black;
  background-color: gray;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

#end {
  color: purple;
}



